<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" >
	<head>
		<!-- Meta -->
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
		<!-- Select2 Plugin -->
		<script th:src="@{/common/theme/scripts/plugins/forms/select2/select2.js}"></script>
	</head>
	<body>
		<div class="widget">
			<!-- Widget heading -->
			<div class="widget-head">
				<h4 class="heading">账号列表</h4>
			</div>
			<!-- // Widget heading END -->
			<div class="widget-body">
				<div class="row-fluid">
 						<div class="span12">
 							<form th:action="@{/rule/queryAccount}" method="post">
 							<input type="hidden" name="resId" th:value="${resId}"/>
							<!-- Table -->
							<div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline" role="grid">
								<div class="row-fluid">
									<div class="span12">
										<div id="DataTables_Table_0_length" class="dataTables_length">
											<label>
												<input type="text" name="paramQuery" th:value="${paramQuery}" aria-controls="DataTables_Table_0" style="margin-right: 5px;" placeholder="请输入查询条件">
												<a onclick="query()" href="#" class="glyphicons no-js search" style="margin-top: 2px;"><i></i></a>
											</label>
										</div>
									</div>
								</div>
								<table class="dynamicTable table table-striped table-bordered table-condensed dataTable" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
										
									<!-- Table heading -->
									<thead>
										<tr role="row">
											<th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 10px;">
											  <div >
												<input type="checkbox" class="checkbox" id="checkAllAccount" style="width: 18px;"/>
											  </div>
											</th>
											<th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1">账号名称</th>
											<th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1">账号类型</th>
										</tr>
									</thead>
									
									<!-- // Table heading END -->
									
									<!-- Table body -->
									
									<tbody role="alert" aria-live="polite" aria-relevant="all">
										<tr class="gradeA odd" th:if="${#lists.isEmpty(list)}">
											<td colspan="3" style="text-align: center;">没有查询到匹配的信息</td>
										</tr>
										<tr class="gradeA odd" th:each="acc:${list}">
											<td class="">
												<input type="checkbox" class="checkbox" th:id="${'accId_' + acc.id}" name="accIds" style="width: 18px;background-color: #FFF;" th:value="${acc.id}" />
											</td>
											<td class="" th:text="${acc.name}"></td>
											<td class="" th:text="${acc.type eq 0 ? '普通账号' : '管理员'}">
												
											</td>
										</tr>
									</tbody>
									<!-- // Table body END -->
								</table>
								<div class="row-fluid">
									<div th:include="pages/commons/ruleAccountPage :: ruleAccountPage"></div>
								</div>
							</div>
						</form>
 						</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			$(document).ready(function(){
				$("input[name='paramQuery']").keypress(function(event){
					if(event.keyCode == 13){
						query();
					}
				});
				
				$("#checkAllAccount").click(function(){
					if($(this).prop("checked")){
						$("input[name='accIds']").prop("checked",true);
					}else{
						$("input[name='accIds']").prop("checked",false);
					}
				});
				var resId = $("input[name='resId']").val();
				
				var resources = $("input[name='resources']").val();
				if(resources == ''){
					resources = '[]';
				}
				resources = eval(resources);
				for(var index = 0;index < resources.length;index++){
					if(resId == resources[index].resId){
						var accounts = resources[index].accounts;
						for(var j = 0; j < accounts.length; j++){
							$("#accId_" + accounts[j].id).prop("checked","checked");
						}
						break;
					}
				}
			});
		</script>
	</body>
</html>