<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" >
	<head>
		<!-- Meta -->
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
		<!-- Select2 Plugin -->
		<script th:src="@{/common/theme/scripts/plugins/forms/select2/select2.js}"></script>
	</head>
	<body>
		<div class="widget">
			<!-- Widget heading -->
			<div class="widget-head">
				<h4 class="heading">设备列表</h4>
			</div>
			<!-- // Widget heading END -->
			<div class="widget-body">
				<div class="row-fluid">
					<div class="span12">
						<form th:action="@{/rule/queryResource}" method="post">
							<!-- Table -->
							<div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline" role="grid">
								<div class="row-fluid">
									<div class="span12">
										<div id="DataTables_Table_0_length" class="dataTables_length">
											<label>
												<input type="text" name="paramQuery" th:value="${paramQuery}" aria-controls="DataTables_Table_0" style="margin-right: 5px;" placeholder="请输入查询条件">
												<a onclick="query()" href="#" class="glyphicons no-js search" style="margin-top: 2px;"><i></i></a>
											</label>
										</div>
									</div>
								</div>
								<table class="dynamicTable table table-striped table-bordered table-condensed dataTable" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
									<!-- Table heading -->
									<thead>
										<tr role="row">
											<th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 10px;">
											  <div >
												<input type="checkbox" class="checkbox" id="checkAllResource" style="width: 18px;"/>
											  </div>
											</th>
											<th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1">设备名称</th>
											<th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1">IP地址</th>
											<th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1">设备类型</th>
											<th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1">操作系统</th>
											<th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 60px;">设备状态</th>
											<th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1">创建时间</th>
											<th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width:100px;">操作</th>
										</tr>
									</thead>
									<!-- // Table heading END -->
									<!-- Table body -->
									
									<tbody role="alert" aria-live="polite" aria-relevant="all">
										<tr class="gradeA odd" th:if="${#lists.isEmpty(list)}">
											<td colspan="8" style="text-align: center;">没有查询到匹配的信息</td>
										</tr>
										<tr class="gradeA odd" th:each="r:${list}">
											<td class="">
												<input type="checkbox" class="checkbox" th:id="${'resourceId_' + r.id}" name="resourceIds" style="width: 18px;background-color: #FFF;" th:value="${r.id}" />
												<input type="hidden" name="useSsh" th:value="${r.useSsh}">
												<input type="hidden" name="useSftp" th:value="${r.useSftp}">
												<input type="hidden" name="useRdp" th:value="${r.useRdp}">
											</td>
											<td class="" th:text="${r.name}"></td>
											<td class="" th:text="${r.ip}"></td>
											<td class="" th:text="${r.typeName}"></td>
											<td class="" th:text="${r.osName}"></td>
											<td class="" >
												<a th:if="${r.status==1}" href="#" title="激活" class="glyphicons no-js ok_2"><i></i></a>
												<a th:if="${r.status==0}" href="#" title="锁定" class="glyphicons no-js remove_2"><i></i></a>
											</td>
											<td class="" th:text="${r.createTime==null ? '' : #dates.format(r.createTime,'yyyy-MM-dd HH:mm:ss')}"></td>
											<td class="">
												<a th:if="${r.status==0}" href="#" title="激活" th:onclick="'status(\'' + ${r.id} + '\',\'1\')'" class="glyphicons no-js unlock"><i></i></a>
												<a th:if="${r.status==1}" href="#" title="锁定" th:onclick="'status(\'' + ${r.id} + '\',\'0\')'" class="glyphicons no-js lock"><i></i></a>
												<a href="#" title="编辑" class="glyphicons no-js pencil" th:onclick="'showMain(\'/resource/edit?id=' + ${r.id} + '\')'"><i></i></a>
												<a href="#" title="删除" class="glyphicons no-js circle_remove" th:onclick="'del(' + ${r.id} + ')'"><i></i></a>
											</td>
										</tr>
									</tbody>
								</table>
								<div class="row-fluid">
									<div th:include="pages/commons/ruleResourcePage :: ruleResourcePage"></div>
								</div>
							</div>
						</form>
					</div>
 				</div>
 			</div>
		</div>
		<script type="text/javascript">
			$(document).ready(function(){
				$("input[name='paramQuery']").keypress(function(event){
					if(event.keyCode == 13){
						query();
					}
				});
				$("#checkAllResource").click(function(){
					if($(this).prop("checked")){
						$("input[name='resourceIds']").prop("checked",true);
					}else{
						$("input[name='resourceIds']").prop("checked",false);
					}
				});
				
				var users = $("input[name='resources']").val();
				if(users == ''){
					users = '[]';
				}
				users = eval(users);
				for(var index = 0;index < users.length;index++){
					$("#resourceId_" + users[index].id).prop('checked','checked');
				}
			});
		</script>
	</body>
</html>