<!DOCTYPE html>
<!--[if lt IE 7]> <html class="ie lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>    <html class="ie lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>    <html class="ie lt-ie9"> <![endif]-->
<!--[if gt IE 8]> <html class="ie gt-ie8"> <![endif]-->
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" >
	<head>
		<!-- Meta -->
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
		
		<!-- Bootstrap -->
		<link th:href="@{/common/bootstrap/css/bootstrap.css}" rel="stylesheet" />
		<link th:href="@{/common/bootstrap/css/responsive.css}" rel="stylesheet" />
		
		<!-- Glyphicons Font Icons -->
		<link th:href="@{/common/theme/css/glyphicons.css}" rel="stylesheet" />
		
		<!-- Uniform Pretty Checkboxes -->
		<link th:href="@{/common/theme/scripts/plugins/forms/pixelmatrix-uniform/css/uniform.default.css}" rel="stylesheet" />
		
		<!-- PrettyPhoto -->
	    <link th:href="@{/common/theme/scripts/plugins/gallery/prettyphoto/css/prettyPhoto.css}" rel="stylesheet" />
		
		<!-- Bootstrap Extended -->
		<link th:href="@{/common/bootstrap/extend/jasny-bootstrap/css/jasny-bootstrap.min.css}" rel="stylesheet">
		<link th:href="@{/common/bootstrap/extend/jasny-bootstrap/css/jasny-bootstrap-responsive.min.css}" rel="stylesheet">
		<link th:href="@{/common/bootstrap/extend/bootstrap-wysihtml5/css/bootstrap-wysihtml5-0.0.2.css}" rel="stylesheet">
		<link th:href="@{/common/bootstrap/extend/bootstrap-select/bootstrap-select.css}" rel="stylesheet" />
		<link th:href="@{/common/bootstrap/extend/bootstrap-toggle-buttons/static/stylesheets/bootstrap-toggle-buttons.css}" rel="stylesheet" />
		
		<!-- Select2 Plugin -->
		<link th:href="@{/common/theme/scripts/plugins/forms/select2/select2.css}" rel="stylesheet" />
		
		<!-- DateTimePicker Plugin -->
		<link th:href="@{/common/theme/scripts/plugins/forms/bootstrap-datetimepicker/css/datetimepicker.css}" rel="stylesheet" />
		
		<!-- JQueryUI -->
		<link th:href="@{/common/theme/scripts/plugins/system/jquery-ui/css/smoothness/jquery-ui-1.9.2.custom.min.css}" rel="stylesheet" />
		
		<!-- MiniColors ColorPicker Plugin -->
		<link th:href="@{/common/theme/scripts/plugins/color/jquery-miniColors/jquery.miniColors.css}" rel="stylesheet" />
		
		<!-- Notyfy Notifications Plugin -->
		<link th:href="@{/common/theme/scripts/plugins/notifications/notyfy/jquery.notyfy.css}" rel="stylesheet" />
		<link th:href="@{/common/theme/scripts/plugins/notifications/notyfy/themes/default.css}" rel="stylesheet" />
		
		<!-- Gritter Notifications Plugin -->
		<link th:href="@{/common/theme/scripts/plugins/notifications/Gritter/css/jquery.gritter.css}" rel="stylesheet" />
		
		<!-- Easy-pie Plugin -->
		<link th:href="@{/common/theme/scripts/plugins/charts/easy-pie/jquery.easy-pie-chart.css}" rel="stylesheet" />
	
		<!-- Google Code Prettify Plugin -->
		<link th:href="@{/common/theme/scripts/plugins/other/google-code-prettify/prettify.css}" rel="stylesheet" />
	
		<!-- Main Theme Stylesheet :: CSS -->
		<link th:href="@{/common/theme/css/style-dark.css?1369414383}" rel="stylesheet" />
		
		<!-- Select2 Plugin -->
		<link th:href="@{/common/theme/scripts/plugins/forms/select2/select2.css}" rel="stylesheet" />
		<style type="text/css">
			.protocolSpan{
				margin-left: 2px;
			}
			.hand{
				cursor:pointer;
			}
		</style>
	</head>
	<body>
		<ul class="breadcrumb">
			<li><a href="javascript:void(0)" onclick="showMain('/rule/query')" class="glyphicons shield"><i></i>运维授权</a></li>
			<li class="divider"></li>
			<li th:text="${rule.id eq 0 ? '添加授权' : '编辑授权'}">添加授权</li>
		</ul>
		<div class="separator bottom"></div>
		<div class="innerLR">
			<!-- Form -->
			<form th:object="${rule}" th:action="*{id eq 0 ? '/rule/insert' : '/rule/update'}" class="form-horizontal" style="margin-bottom: 0;" id="ruleForm" method="post" autocomplete="off">
				<div class="widget">
					<!-- Widget heading -->
					<div class="widget-head">
						<h4 class="heading">基本信息</h4>
					</div>
					<!-- // Widget heading END -->
					<div class="widget-body">
						<div class="row-fluid">
							<!-- Column -->
							<div class="span6">
								<!-- Group -->
								<div class="control-group">
									<label class="control-label" for="name">授权名称</label>
									<div class="controls">
										<input class="span12" th:field="*{name}" type="text" placeholder="请输入名称"/>
										<input th:if="*{id}" type="hidden" th:field="*{id}" />
									</div>
								</div>
								<!-- Group -->
								<div class="control-group">
									<label class="control-label" for="status">授权状态</label>
									<div class="controls">
										<select class="selectpicker span12" th:field="*{status}">
											<option th:if="*{status eq 0 ? 'selected=selected' : ''}" value="0">锁定</option>
											<option th:if="*{status eq 1 ? 'selected=selected' : ''}" value="1">激活</option>
										</select>
									</div>
								</div>
								<!-- Group -->
								<div class="control-group">
									<label class="control-label" for="name">描述信息</label>
									<div class="controls">
										<textarea class="wysihtml5 span12" style="resize: none;height: 80px;" placeholder="请输入描述信息" th:field="*{memo}" th:readonly="*{name eq '系统管理员' ? 'readonly' : 'false'}"></textarea>
									</div>
								</div>
								<!-- // Group END -->
							</div>
						</div>
					</div>
				</div>
				<div class="widget">
					<!-- Widget heading -->
					<div class="widget-head">
						<h4 class="heading">授权用户</h4>
					</div>
					<!-- // Widget heading END -->
					<div class="widget-body">
						<div class="row-fluid">
							<!-- Column -->
							<div class="span6">
								<!-- Group -->
								<div class="control-group">
									<label class="control-label" for="status">用户信息</label>
									<div class="controls">
										<div id="userSelect" class="select2-container select2-container-multi" style="width:100%;">
											<ul class="select2-choices" style="border-radius:4px;border-color: #D8D9DA;min-height: 30px;">
												<!-- 
												<li class="select2-search-choice"><div class="hand user">admin</div><a href="#" onclick="return false;" class="select2-search-choice-close removeUser" tabindex="-1"></a></li>
												 -->
												<li class="select2-search-choice" style="padding-left: 0px;padding-right: 0px;cursor:pointer;border: 0px;background: #ffffff;">
													<img alt="" th:src="@{/images/icon/add_icon.png}" class="addUserSelect"/>
												</li>
												<li class="select2-search-choice" style="padding-left: 0px;padding-right: 0px;cursor:pointer;border: 0px;background: #ffffff;">
													<img alt="" th:src="@{/images/icon/delete_icon.png}" class="delUserSelect"/>
												</li>
											</ul>
										</div>
									</div>
									<input type="hidden" name="users" value=""/>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="widget">
					<!-- Widget heading -->
					<div class="widget-head">
						<h4 class="heading">授权设备</h4>
						<div class="dataTables_filter" id="DataTables_Table_0_filter">
							<label>
								<a href="#" title="添加" class="glyphicons no-js circle_plus" onclick="showResource()"><i></i></a>&nbsp;
								<a href="#" title="删除" class="glyphicons no-js circle_remove" onclick="delAllRes()"><i></i></a>&nbsp;
							</label>
						</div>
					</div>
					<!-- // Widget heading END -->
					<div class="widget-body">
						<div class="row-fluid">
							<div class="span12">
								<!-- Table -->
								<div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline" role="grid">
									<div class="row-fluid">
										<div class="span12">
											<table class="dynamicTable table table-striped table-bordered table-condensed dataTable" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
												<!-- Table heading -->
												<thead>
													<tr role="row">
														<th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 10px;">
														  <div >
															<input type="checkbox" class="checkbox" id="checkAllRuleResource" style="width: 18px;"/>
														  </div>
														</th>
														<th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 150px;">设备名称</th>
														<th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 100px;">IP地址</th>
														<th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 100px;">设备类型</th>
														<th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 100px;">操作系统</th>
														<th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1">授权账号</th>
														<th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1">授权协议</th>
														<th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width:50px;">操作</th>
													</tr>
												</thead>
												<!-- // Table heading END -->
												<!-- Table body -->
												<tbody role="alert" aria-live="polite" aria-relevant="all" id="resourceBody">
													<!-- <tr class="gradeA odd" >
														<td class="" style="vertical-align:middle;">
															<input type="checkbox" class="checkbox" name="ids" style="width: 18px;background-color: #FFF;" />
														</td>
														<td class="" style="vertical-align:middle;">计算机</td>
														<td class="" style="vertical-align:middle;">192.168.1.101</td>
														<td class="" style="vertical-align:middle;">Linux</td>
														<td class="" style="vertical-align:middle;">Debian</td>
														<td class="">
															<div id="accountSelect" class="select2-container select2-container-multi" style="width:100%;">
																<ul class="select2-choices" style="border-radius:4px;border-color: #D8D9DA;min-height: 30px;">
																	<li class="select2-search-choice"><div class="hand account">root</div><a href="#" onclick="return false;" class="select2-search-choice-close" tabindex="-1"></a></li>
																	<li class="select2-search-choice"><div class="hand account">nemo</div><a href="#" onclick="return false;" class="select2-search-choice-close" tabindex="-1"></a></li>
																	
																	<li class="select2-search-choice" style="padding-left: 0px;padding-right: 0px;cursor:pointer;border: 0px;background: #ffffff;">
																		<img alt="" th:src="@{/images/icon/add_icon.png}" class="addAccountSelect"/>
																	</li>
																	<li class="select2-search-choice" style="padding-left: 0px;padding-right: 0px;cursor:pointer;border: 0px;background: #ffffff;">
																		<img alt="" th:src="@{/images/icon/delete_icon.png}" class="delAccountSelect"/>
																	</li>
																</ul>
															</div>
														</td>
														<td class="">
															<div id="protocolSelect" class="select2-container select2-container-multi" style="width:100%;">
																<ul class="select2-choices" style="border-radius:4px;border-color: #D8D9DA;min-height: 30px;">
																	<li class="select2-search-choice"><div class="hand protocol">SSH</div><a href="#" onclick="return false;" class="select2-search-choice-close" tabindex="-1"></a></li>
																	<li class="select2-search-choice"><div class="hand protocol">SFTP</div><a href="#" onclick="return false;" class="select2-search-choice-close" tabindex="-1"></a></li>
																	
																	<li class="select2-search-choice" style="padding-left: 0px;padding-right: 0px;cursor:pointer;border: 0px;background: #ffffff;">
																		<img alt="" th:src="@{/images/icon/add_icon.png}" class="addProtocolSelect"/>
																	</li>
																	<li class="select2-search-choice" style="padding-left: 0px;padding-right: 0px;cursor:pointer;border: 0px;background: #ffffff;">
																		<img alt="" th:src="@{/images/icon/delete_icon.png}" class="delProtocolSelect"/>
																	</li>
																</ul>
															</div>
														</td>
														<td class="" style="vertical-align:middle;">
															<a href="#" title="删除" class="glyphicons no-js circle_remove" th:onclick="'del('+')'"><i></i></a>
														</td>
													</tr> -->
												</tbody>
											</table>
											<input type="hidden" name="resources" value=""/>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<hr class="separator">
						<div class="form-actions">
							<button type="submit" id="subData" disabled="disabled" class="btn btn-success btn-icon glyphicons ok"><i></i>保&nbsp;存</button>
							<button type="button" class="btn btn-icon btn-default glyphicons circle_remove" onclick="showMain('/rule/query')"><i></i>取&nbsp;消</button>
						</div>
					</div>
				</div>
			</form>
		</div>
		<div id="userWindow" class="modal hide fade" style="width: 80%;margin-left: -40%;">
		  <div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		    <h3>用户信息</h3>
		  </div>
		  <div class="modal-body">
		  	
		  </div>
		  <div class="modal-footer">
		    <a href="#" class="btn btn-default">关闭</a>
		    <a href="#" class="btn btn-primary">确定</a>
		  </div>
		</div>
		<div id="resourceWindow" class="modal hide fade" style="width: 80%;margin-left: -40%;">
		  <div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		    <h3>设备信息</h3>
		  </div>
		  <div class="modal-body">
		  	
		  </div>
		  <div class="modal-footer">
		    <a href="#" class="btn btn-default">关闭</a>
		    <a href="#" class="btn btn-primary">确定</a>
		  </div>
		</div>
		<div id="accountWindow" class="modal hide fade" style="width: 700px;">
		  <div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		    <h3>账号信息</h3>
		  </div>
		  <div class="modal-body">
		  		
		  </div>
		  <div class="modal-footer">
		    <a href="#" class="btn btn-default">关闭</a>
		    <a href="#" class="btn btn-primary">确定</a>
		  </div>
		</div>
		
		<div id="protocolWindow" class="modal hide fade" style="width: 700px;">
		  <div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		    <h3>协议信息</h3>
		    <input type="hidden" id="checkId" value=""/>
		  </div>
		  <div class="modal-body">
		  		<!-- 
		  	 <input type="checkbox" class="checkbox protocolSpan" style="margin-top: -1px;"/><span class="protocolSpan">SSH</span>
		  		<input type="checkbox" class="checkbox protocolSpan" style="margin-top: -1px;"/><span class="protocolSpan">SSH</span>
		  		 -->
		  </div>
		  <div class="modal-footer">
		    <a href="#" class="btn btn-default">关闭</a>
		    <a href="#" class="btn btn-primary">确定</a>
		  </div>
		</div>
		
		<!-- Select2 Plugin -->
		<script th:src="@{/common/theme/scripts/plugins/forms/select2/select2.js}"></script>
		<script type="text/javascript">
			$(document).ready(function(){
				//设备名称及IP地址校验
				$.validator.setDefaults(
				{
					submitHandler: function() { 
						//alert("submitted!");
						saveData();
					},
					showErrors: function(map, list) 
					{
						this.currentElements.parents('label:first, .controls:first').find('.error').remove();
						this.currentElements.parents('.control-group:first').removeClass('error');
						
						$.each(list, function(index, error) 
						{
							var ee = $(error.element);
							var eep = ee.parents('label:first').length ? ee.parents('label:first') : ee.parents('.controls:first');
							
							ee.parents('.control-group:first').addClass('error');
							eep.find('.error').remove();
							eep.append('<p class="error help-block"><span class="label label-important">' + error.message + '</span></p>');
						});
						//refreshScrollers();
					}
				});
				
				$("#ruleForm").validate({
					rules:{
						name:{
							required: true,
							minlength: 1,
							maxlength: 25,
							checkName: true
						},
						memo:{
							maxlength: 20
						}
					},messages:{
						name: {
							required: "请输入名称",
							minlength: "请输入至少1个字符组成的名称",
							maxlength: "名称不能超过25个字",
							checkName: "该授权名称重复，请重新输入"
						},
						memo:{
							maxlength: "描述信息不能超过20个字"
						}
					}
				});
				
				jQuery.validator.addMethod("checkName",function(value,element){
					var flag = false;
					if(value != ''){
						$.ajax({
							url:"/rule/checkName",
							data:"name=" + value,
							dataType:"text",
							async:false,
							success:function(resId){
								if(resId == 0 || resId == '0' || resId == $("#id").val()){
									flag = true;
								}
							}
						});
					}
					return flag;
				});
				
				$(".addRuleAccountSelect").live('click',function(){
					$("#accountWindow").modal("show");
					var resId = $(this).parent().parent().parent().parent().parent().children().eq(0).find("input").val();
					loadInfo('/rule/queryAccount?resId=' + resId,"accountWindow");
				});
				
				$("#checkAllRuleResource").click(function(){
					if($(this).prop("checked")){
						$("input[name='resIds']").prop("checked",true);
					}else{
						$("input[name='resIds']").prop("checked",false);
					}
				});
				
				$(".modal-backdrop").live('click',function(){
					$("#userWindow .modal-body").html("");
					$("#resourceWindow .modal-body").html("");
					$("#accountWindow .modal-body").html("");
				});
				
				$(".addUserSelect").on('click',function(){
					showUser();
				});
				
				$("#userWindow .btn-default").on('click',function(){
					$("#userWindow").modal("hide");
					$("#userWindow .modal-body").html("");
				});
				
				$("#accountWindow .btn-default").on('click',function(){
					$("#accountWindow").modal("hide");
					$("#accountWindow .modal-body").html("");
				});
				
				$("#resourceWindow .btn-default").on('click',function(){
					$("#resourceWindow").modal("hide");
					$("#resourceWindow .modal-body").html("");
				});
				
				$("#protocolWindow .btn-default").on('click',function(){
					$("#protocolWindow").modal('hide');
				});
				
				$("#protocolWindow .btn-primary").on('click',function(){
					$("#protocolWindow").modal('hide');
					var resId = $("#protocolWindow").find("#checkId").val();
					var resources = $("input[name='resources']").val();
					if(resources == ''){
						resources = '[]';
					}
					resources = eval(resources);
					var protocols = new Array();
					for(var i = 0; i < resources.length; i++){
						if(resId == resources[i].resId){
							protocols = resources[i].protocols;
							break;
						}
					}
					$("input[name='useProtocols']:checked").each(function(){
						var protocol = $(this).val();
						var element = "<li class=\"select2-search-choice\"><div class=\"hand ruleProtocol\">" + protocol
						+ "</div><a class=\"select2-search-choice-close removeRuleProtocol\" href=\"#\" onclick=\"return false;\" tabindex=\"-1\"></a></li>";
						$("input[name='resIds']").each(function(){
							if(resId == $(this).val()){
								var falg = true;
								for(var i = 0; i < protocols.length;i++){
									if(protocol == protocols[i]){
										falg = false;
										break;
									}
								}
								if(falg){
									protocols.push(protocol);
									$(this).parent().parent().children().eq(6).find(".addRuleProtocolSelect").parent().before(element);
								}
							}
						});
					});
					$("input[name='resources']").val(JSON.stringify(resources));
				});
				
				$("#userWindow .close").on('click',function(){
					$("#userWindow .modal-body").html("");
				});
				
				$("#resourceWindow .close").on('click',function(){
					$("#resourceWindow .modal-body").html("");
				});
				
				$("#accountWindow .close").on('click',function(){
					$("#accountWindow .modal-body").html("");
				});
				
				$(".delRuleAccountSelect").live('click',function(){
					var resId = $(this).parent().parent().parent().parent().parent().children().eq(0).find("input").val();
					$(this).parent().prev().prevAll().remove();
					
					var resources = $("input[name='resources']").val();
					if(resources == ''){
						resources = '[]';
					}
					resources = eval(resources);
					for(var i = 0; i < resources.length; i++){
						if(resId == resources[i].resId){
							resources[i].accounts = new Array();
							break;
						}
					}
					$("input[name='resources']").val(JSON.stringify(resources));
				});
				
				$(".removeRuleAccount").live('click',function(){
					var resId = $(this).parent().parent().parent().parent().parent().children().eq(0).find("input").val();
					var account = $(this).prev().text().trim();
					
					$(this).parent().remove();
					var resources = $("input[name='resources']").val();
					if(resources == ''){
						resources = '[]';
					}
					resources = eval(resources);
					for(var i = 0; i < resources.length; i++){
						if(resId == resources[i].resId){
							var accounts = resources[i].accounts;
							for(var j = 0; j < accounts.length; j++){
								if(account == accounts[j].account){
									accounts.splice(j,1);
									break;
								}
							}
							break;
						}
					}
					$("input[name='resources']").val(JSON.stringify(resources));
				});
				
				$(".delRuleProtocolSelect").live('click',function(){
					var resId = $(this).parent().parent().parent().parent().parent().children().eq(0).find("input").val();
					$(this).parent().prev().prevAll().remove();
					var resources = $("input[name='resources']").val();
					if(resources == ''){
						resources = '[]';
					}
					resources = eval(resources);
					for(var i = 0; i < resources.length; i++){
						if(resId == resources[i].resId){
							resources[i].protocols = new Array();
							break;
						}
					}
					$("input[name='resources']").val(JSON.stringify(resources));
				});
				
				$(".removeRuleProtocol").live('click',function(){
					var resId = $(this).parent().parent().parent().parent().parent().children().eq(0).find("input").val();
					var protocol = $(this).prev().text().trim();
					$(this).parent().remove();
					var resources = $("input[name='resources']").val();
					if(resources == ''){
						resources = '[]';
					}
					resources = eval(resources);
					for(var i = 0; i < resources.length; i++){
						if(resId == resources[i].resId){
							var protocols = resources[i].protocols;
							for(var j = 0; j < protocols.length; j++){
								if(protocol == protocols[j]){
									protocols.splice(j,1);
									break;
								}
							}
							break;
						}
					}
					$("input[name='resources']").val(JSON.stringify(resources));
				});
				
				$(".addRuleProtocolSelect").live('click',function(){
					$("#protocolWindow").modal("show");
					var resId = $(this).parent().parent().parent().parent().parent().children().eq(0).find("input").val();
					$("#protocolWindow").find("#checkId").val(resId);
					
					var resources = $("input[name='resources']").val();
					if(resources == ''){
						resources = '[]';
					}
					resources = eval(resources);
					var protocols = new Array();
					for(var i = 0; i < resources.length; i++){
						if(resId == resources[i].resId){
							protocols = resources[i].protocols;
							break;
						}
					}
					
					$.ajax({
						url:"/rule/queryProtocol",
						type:'get',
						data:'resId=' + resId,
						dataType:'JSON',
						async:false,
						success:function(result){
							$("#protocolWindow .modal-body").html("");
							$.each(result,function(i,item){
								var checked = false;
								for(var j = 0;j < protocols.length;j++){
									if(item == protocols[j]){
										checked = true;
										break;
									}
								}
								var element = "<input type=\"checkbox\" " + ((checked == true) ? "checked='checked'" : '') + " name=\"useProtocols\" class=\"checkbox protocolSpan\" value=\"" + item + "\" style=\"margin-top: -1px;\"/><span class=\"protocolSpan hand\">" + item + "</span>";
								$("#protocolWindow .modal-body").append(element);
							});
						}
					});
				});
				
				$(".protocolSpan").live('click',function(){
					if(!$(this).prev().prop('checked')){
						$(this).prev().prop('checked','checked');
					}else{
						$(this).prev().prop('checked',false);
					}
				});
				
				$("#accountWindow .btn-primary").on('click',function(){
					$("#accountWindow").modal("hide");
					var resId = $("input[name='resId']").val();
					
					var resources = $("input[name='resources']").val();
					if(resources == ''){
						resources = '[]';
					}
					resources = eval(resources);
					
					var accounts = new Array();
					for(var i = 0; i < resources.length; i++){
						if(resId == resources[i].resId){
							accounts = resources[i].accounts;
							break;
						}
					}
					
					$("input[name='accIds']:checked").each(function(){
						var id = $(this).val();
						var name = $(this).parent().next().text().trim();
						var accObj = {'id':id,'account':name};
						var element = "<li class=\"select2-search-choice\"><div class=\"hand ruleAccount\">" + name
						+ "</div><a class=\"select2-search-choice-close removeRuleAccount\" href=\"#\" onclick=\"return false;\" tabindex=\"-1\"></a></li>";
						$("input[name='resIds']").each(function(){
							if(resId == $(this).val()){
								var flag = true;
								for(var index = 0; index < accounts.length;index++){
									if(id == accounts[index].id){
										flag = false;
										break;
									}
								}
								if(flag){
									accounts.push(accObj);
									$(this).parent().parent().children().eq(5).find(".addRuleAccountSelect").parent().before(element);
								}
							}
						});
					});
					$("input[name='resources']").val(JSON.stringify(resources));
					
					$("#accountWindow .modal-body").html("");
				});
				
				$("#resourceWindow .btn-primary").on('click',function(){
					$("#resourceWindow").modal("hide");
					var resources = $("input[name='resources']").val();
					if(resources == ''){
						resources = '[]';
					}
					
					resources = eval(resources);
					
					$("input[name='resourceIds']:checked").each(function(){
						var id = $(this).val();
						var name = $(this).parent().parent().children().eq(1).text().trim();
						var ip = $(this).parent().parent().children().eq(2).text().trim();
						var type = $(this).parent().parent().children().eq(3).text().trim();
						var os = $(this).parent().parent().children().eq(4).text().trim();
						var resObj = {'resId':id};
						var accounts = new Array();
						var protocols = new Array();
						
						var resAdd = true;
						for(var k = 0; k < resources.length; k++){
							if(id == resources[k].resId){
								resAdd = false;
								break;
							}
						}
						if(resAdd){
							var element = "<tr class=\"gradeA odd\">";
							element += "<td class=\"\" style=\"vertical-align:middle;\">";
							element += "<input class=\"checkbox\" name=\"resIds\" value=\"" + id + "\" style=\"width: 18px;background-color: #FFF;\" type=\"checkbox\">";
							element += "</td><td class=\"\" style=\"vertical-align:middle;\">" + name + "</td>";
							element += "<td class=\"\" style=\"vertical-align:middle;\">" + ip + "</td>";
							element += "<td class=\"\" style=\"vertical-align:middle;\">" + type + "</td>";
							element += "<td class=\"\" style=\"vertical-align:middle;\">" + os + "</td>";
							element += "<td class=\"\">";
							element += "<div class=\"select2-container select2-container-multi\" id=\"accountSelect\" style=\"width:100%;\">";
							element += "<ul class=\"select2-choices\" style=\"border-radius:4px;border-color: #D8D9DA;min-height: 30px;\">";
							
							$.ajax({
								url:"/rule/queryAccountByResId",
								type:"get",
								data:"resId=" + id,
								dataType:"JSON",
								async:false,
								success:function(result){
									$.each(result,function(i,item){
										var accObj = {'id':item.id,'account':item.name};
										accounts.push(accObj);
										element += "<li class=\"select2-search-choice\"><div class=\"hand ruleAccount\">" + item.name + "</div><a class=\"select2-search-choice-close removeRuleAccount\" href=\"#\" onclick=\"return false;\" tabindex=\"-1\"></a></li>";
									});
									resObj.accounts = accounts;
								}
							});
							
							//element += "<li class=\"select2-search-choice\"><div class=\"hand account\">root</div><a class=\"select2-search-choice-close\" href=\"#\" onclick=\"return false;\" tabindex=\"-1\"></a></li>";
							//element += "<li class=\"select2-search-choice\"><div class=\"hand account\">nemo</div><a class=\"select2-search-choice-close\" href=\"#\" onclick=\"return false;\" tabindex=\"-1\"></a></li>";
									
							element += "<li class=\"select2-search-choice\" style=\"padding-left: 0px;padding-right: 0px;cursor:pointer;border: 0px;background: #ffffff;\">";
							element += "<img alt=\"\" class=\"addRuleAccountSelect\" src=\"/images/icon/add_icon.png\">";
							element += "</li>";
							element += "<li class=\"select2-search-choice\" style=\"padding-left: 0px;padding-right: 0px;cursor:pointer;border: 0px;background: #ffffff;\">";
							element += "<img alt=\"\" class=\"delRuleAccountSelect\" src=\"/images/icon/delete_icon.png\">";
							element += "</li>";
							element += "</ul>";
							element += "</div>";
							element += "</td>";
							element += "<td class=\"\">";
							element += "<div class=\"select2-container select2-container-multi\" id=\"protocolSelect\" style=\"width:100%;\">";
							element += "<ul class=\"select2-choices\" style=\"border-radius:4px;border-color: #D8D9DA;min-height: 30px;\">";
							
							if($(this).parent().find("input[name='useSsh']").val() == 1){
								protocols.push('SSH');
								element += "<li class=\"select2-search-choice\"><div class=\"hand ruleProtocol\">SSH</div><a class=\"select2-search-choice-close removeRuleProtocol\" href=\"#\" onclick=\"return false;\" tabindex=\"-1\"></a></li>";							
							}
							
							if($(this).parent().find("input[name='useSftp']").val() == 1){
								protocols.push('SFTP');
								element += "<li class=\"select2-search-choice\"><div class=\"hand ruleProtocol\">SFTP</div><a class=\"select2-search-choice-close removeRuleProtocol\" href=\"#\" onclick=\"return false;\" tabindex=\"-1\"></a></li>";							
							}
							
							if($(this).parent().find("input[name='useRdp']").val() == 1){
								protocols.push('RDP');
								element += "<li class=\"select2-search-choice\"><div class=\"hand ruleProtocol\">RDP</div><a class=\"select2-search-choice-close removeRuleProtocol\" href=\"#\" onclick=\"return false;\" tabindex=\"-1\"></a></li>";							
							}
							
							resObj.protocols = protocols;
							resources.push(resObj);
							//element += "<li class=\"select2-search-choice\"><div class=\"hand protocol\">SFTP</div><a class=\"select2-search-choice-close\" href=\"#\" onclick=\"return false;\" tabindex=\"-1\"></a></li>";
										
							element += "<li class=\"select2-search-choice\" style=\"padding-left: 0px;padding-right: 0px;cursor:pointer;border: 0px;background: #ffffff;\">";
							element += "<img alt=\"\" class=\"addRuleProtocolSelect\" src=\"/images/icon/add_icon.png\">";
							element += "</li>";
							element += "<li class=\"select2-search-choice\" style=\"padding-left: 0px;padding-right: 0px;cursor:pointer;border: 0px;background: #ffffff;\">";
							element += "<img alt=\"\" class=\"delRuleProtocolSelect\" src=\"/images/icon/delete_icon.png\">";
							element += "</li>";
							element += "</ul>";
							element += "</div>";
							element += "</td>";
							element += "<td class=\"\" style=\"vertical-align:middle;\">";
							element += "<a class=\"glyphicons no-js circle_remove\" href=\"#\" title=\"删除\" onclick=\"delRes(this)\"><i></i></a>";
							element += "</td>";
							element += "</tr>";
							$("#resourceBody").append(element);
						}
					});
					$("input[name='resources']").val(JSON.stringify(resources));
					$("#resourceWindow .modal-body").html("");
				});
				
				$("#userWindow .btn-primary").on('click',function(){
					$("#userWindow").modal("hide");
					
					var users = $("input[name='users']").val();
					if(users == ''){
						users = '[]';
					}
					users = eval(users);
					$("input[name='userIds']:checked").each(function(){
						var id = $(this).val();
						var username = $(this).parent().next().text().trim();
						var name = $(this).parent().next().next().text().trim();
						username = name + "(" + username + ")";
						var userObj = {'id':id,'name':name,'username':username};
						var flag = true;
						
						for(var index = 0;index < users.length;index++){
							if(users[index].id == id){
								flag = false;
							}
						}
						if(flag){
							users.push(userObj);
							var element = "<li class=\"select2-search-choice\"><div class=\"hand user\">" + username + "</div>" +
							"<a class=\"select2-search-choice-close removeUser\" index=\"" + id + "\" href=\"#\" onclick=\"return false;\" tabindex=\"-1\"></a></li>";
							$(".addUserSelect").parent().before(element);
						}
					});
					$("input[name='users']").val(JSON.stringify(users));
					$("#userWindow .modal-body").html("");
				});
				$(".removeUser").live('click',function(){
					var obj = $(this);
					var users = $("input[name='users']").val();
					if(users == ''){
						users = '[]';
					}
					users = eval(users);
					var id = $(obj).attr('index');
					for(var index = 0;index < users.length;index++){
						
						if(users[index].id == id){
							users.splice(index,1);
							break;
						}
					}
					$("input[name='users']").val(JSON.stringify(users));
					$(obj).parent().remove();
				});
				
				$(".delUserSelect").on('click',function(){
					$(this).parent().prev().prevAll().remove();
					$("input[name='users']").val('[]');
				});
				
				$("#subData").removeAttr("disabled");
			});
			
			function saveData(){
				$.ajax({
		             type: "POST",
		             url: $("#ruleForm").prop("action"),
		             data: $("#ruleForm").serialize(),
		             success: function (result) {
		            	 $("#content").html(result);
		             }
		    	 });
			}
			
			//显示用户窗口
			function showUser(){
				$("#userWindow").modal("show");
				loadInfo('/rule/queryUser',"userWindow");
			}
			
			function loadInfo(url,id){
				$("#" + id + " .modal-body").load(
					url,
					"t=" + new Date().getTime(),
					function(responseTxt,statusTxt,xhr){
						if(statusTxt == "error"){
							$("#userWindow .modal-body").html(responseTxt);
						}
					}
				);
			}
			
			function showResource(){
				$("#resourceWindow").modal("show");
				loadInfo('/rule/queryResource','resourceWindow');
			}
			
			function delRes(obj){
				var resId = $(obj).parent().parent().children().eq(0).find("input").val();
				$(obj).parent().parent().remove();
				var resources = $("input[name='resources']").val();
				if(resources == ''){
					resources = '[]';
				}
				resources = eval(resources);
				
				var accounts = new Array();
				for(var i = 0; i < resources.length; i++){
					if(resId == resources[i].resId){
						resources.splice(i,1);
						break;
					}
				}

				$("input[name='resources']").val(JSON.stringify(resources));
			}
			
			function delAllRes(){
				$("input[name='resIds']:checked").each(function(){
					$(this).parent().parent().remove();
				});
				$("input[name='resources']").val("[]");
				
			}
		</script>
	</body>
</html>