<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" >
	<head>
		<!-- Meta -->
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
		<!-- Select2 Plugin -->
		<script th:src="@{/common/theme/scripts/plugins/forms/select2/select2.js}"></script>
	</head>
	<body>
		<ul class="breadcrumb">
			<li><a href="javascript:void(0)" onclick="showMain('/role/query')" class="glyphicons eye_open"><i></i>角色管理</a></li>
			<li class="divider"></li>
			<li>角色列表</li>
		</ul>
		<div class="separator bottom"></div>
		<div class="innerLR">
			<div class="widget">
				<!-- Widget heading -->
				<div class="widget-head">
					<h4 class="heading">角色列表</h4>
				</div>
				<!-- // Widget heading END -->
				<div class="widget-body">
					<div class="row-fluid">
						<div class="span12">
							<form th:action="@{/role/query}" method="post">
								<!-- Table -->
								<div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline" role="grid">
									<div class="row-fluid">
										<div class="span8">
											<div id="DataTables_Table_0_length" class="dataTables_length">
												<label>
													<input type="text" name="paramQuery" th:value="${paramQuery}" aria-controls="DataTables_Table_0" style="margin-right: 5px;" placeholder="请输入查询条件">
													<a href="#" onclick="query()" class="glyphicons no-js search" style="margin-top: 2px;"><i></i></a>
												</label>
											</div>
										</div>
										<div class="span4">
											<div class="dataTables_filter" id="DataTables_Table_0_filter">
												<label>
													<a href="#" title="添加" class="glyphicons no-js circle_plus" onclick="showMain('/role/insertPage')"><i></i></a>&nbsp;
													<a href="#" title="删除" class="glyphicons no-js circle_remove" onclick="dels()"><i></i></a>&nbsp;
												</label>
											</div>
										</div>
									</div>
									<table class="dynamicTable table table-striped table-bordered table-condensed dataTable" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
										<!-- Table heading -->
										<thead>
											<tr role="row">
												<th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 10px;">
												  <div >
													<input type="checkbox" class="checkbox" id="checkAll" style="width: 18px;" />
												  </div>
												</th>
												<th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 200px;">角色名称</th>
												<th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1">描述信息</th>
												<th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 150px;">创建时间</th>
												<th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width:80px;">操作</th>
											</tr>
										</thead>
										<!-- // Table heading END -->
										<!-- Table body -->
										<tbody role="alert" aria-live="polite" aria-relevant="all">
											<tr class="gradeA odd" th:each="r:${list}">
												<td class="">
													<input type="checkbox" class="checkbox" th:id="${'id_' + r.id}" name="ids" style="width: 18px;background-color: #FFF;" th:value="${r.id}" />
												</td>
												<td class="" th:text="${r.name}"></td>
												<td class="" th:text="${r.memo}"></td>
												<td class="" th:text="${r.createTime==null ? '' : #dates.format(r.createTime,'yyyy-MM-dd HH:mm:ss')}"></td>
												<td class="">
													<a href="#" title="编辑" class="glyphicons no-js pencil" th:onclick="'showMain(\'/role/edit?id=' + ${r.id} + '\')'"><i></i></a>
													<a href="#" title="删除" class="glyphicons no-js circle_remove" th:onclick="'del(' + ${r.id} + ')'"><i></i></a>
												</td>
											</tr>
										</tbody>
										<!-- // Table body END -->
									</table>
									<div class="row-fluid">
										<div th:include="pages/commons/page :: page"></div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			$(document).ready(function(){
				$("input[name='paramQuery']").keypress(function(event){
					if(event.keyCode == 13){
						query();
					}
				});
				$("#checkAll").click(function(){
					if($(this).prop("checked")){
						$("input[name='ids']").prop("checked",true);
					}else{
						$("input[name='ids']").prop("checked",false);
					}
				});
			});
			
			function del(id){
				bootbox.setLocale('cn');
				bootbox.confirm("确定删除该角色吗?", function(result) 
				{
					if(result){
						showMain('/role/delete?id=' + id);
					}
				});
			}
			
			function dels(){
				if($("input[name='ids']:checked").length == 0){
					bootbox.setLocale('cn');
					bootbox.alert("请选择要删除的角色！", function(result) 
					{
						
					});
				}else{
					var ids = "";
					$("input[name='ids']:checked").each(function(index,item){
						if(index > 0){
							ids += ',';
						}
						ids += item.value;
					});
					bootbox.setLocale('cn');
					bootbox.confirm("确定删除已选择的角色吗？", function(result) 
					{
						if(result){
							showMain('/role/deletes?ids=' + ids);
						}
					});
				}
			}
		</script>
	</body>
</html>